<html>
	<%- include('head'); -%>
	<body>
		<% if (message) {%>
			<%- include('flash'); -%>
		<% } %>
		<div class="container">
			<div class="content">
				<%- include('header'); -%>
				<main class="main">
					<%- include('addRecipeScrap'); -%> <%- include('addRecipeForm'); -%>
				</main>
				<%- include('scripts'); -%>
			</div>
		</div>
	</body>
</html>
