<html>
    <%- include('head'); -%>
    <body>
        <%- include('header'); -%>
        <%- include('addRecipeScrap'); -%>
        <%- include('addRecipeForm'); -%>
        <%- include('scripts'); -%>
    </body>
</html>