<html>
	<%- include('head'); -%>
	<body>
		<% if (message) {%>
			<%- include('flash'); -%>
		<% } %>
		<div class="container">
			<div class="content">
				<%- include('header'); -%>
				<main class="main">
                    
					<% if (recipes.length > 0 ) { %> <%-
                        include('recipes'); -%> <% } %>
				</main>
				<%- include('scripts'); -%>
			</div>
		</div>
	</body>
</html>