<html>
	<%- include('head'); -%>
	<body>
		<div class="container">
			<div class="content">
				<%- include('header'); -%>

				<main class="main">
					<%- include('search'); -%> <% if (recipes.length > 0 ) { %> <%-
					include('recipes'); -%> <% } %>
				</main>
			</div>
		</div>
		<script src="/js/addIngredient.js"></script>
		<%- include('scripts'); -%>
	</body>
</html>
